
#preview {
  @apply px-4;
}
#preview blockquote {
  @apply border-l-2 border-gray-400 text-gray-300 pl-2 ml-10 m-1;
}
#preview > p > code {
  @apply p-1;
}
#preview code {
  @apply bg-white font-semibold text-xs;
}
#preview pre {
  overflow: auto;
  @apply block bg-white p-2 leading-6;
}
#preview h1 {
  @apply border-b-2 border-slate-800 text-4xl font-semibold leading-10 my-4;
}
#preview h2 {
  @apply border-b border-slate-800 text-2xl font-semibold  leading-8 my-2;
}
#preview table {
  border-collapse: collapse;
}
#preview td,
#preview th {
  @apply border-2 border-slate-800 px-4;
}
#preview img {
  @apply my-4 mx-auto block;
}

@media screen and (max-width: 420px) {
  body {
    @apply text-xs;
  }
}


#preview ul {
  @apply list-disc m-4 pl-4;
}

#preview ol {
  @apply m-4 block list-decimal;
}
#preview ol li {
  display: list-item;
}

#preview p {
  @apply my-2 text-slate-950;
}